{
	"openapi": "3.0.0",
	"info": {
		"title": "ZeyOS Standard REST API",
		"termsOfService": "https://www.zeyos.com/termsofservice",
		"contact": {
			"name": "ZeyOS GmbH & Co. KG",
			"url": "https://www.zeyos.com",
			"email": "info@zeyos.com"
		},
		"version": "v1"
	},
	"externalDocs": {
		"description": "ZeyOS Developer Center",
		"url": "https://developers.zeyos.com"
	},
	"servers": [
		{
			"url": "https://cloud.zeyos.com/{INSTANCE}/api/v1",
			"description": "ZeyOS Cloud",
			"variables": {
				"INSTANCE": {
					"default": "demo"
				}
			}
		}
	],
	"security": [
		{
			"oauth": []
		},
		{
			"session": []
		}
	],
	"tags": [
		{
			"name": "general",
			"description": "General"
		},
		{
			"name": "accounts",
			"description": "Accounts"
		},
		{
			"name": "actionsteps",
			"description": "Action Steps"
		},
		{
			"name": "addresses",
			"description": "Addresses"
		},
		{
			"name": "applicationassets",
			"description": "Application Assets *(developer read-only)*"
		},
		{
			"name": "applications",
			"description": "Applications *(developer read-only)*"
		},
		{
			"name": "appointments",
			"description": "Appointments"
		},
		{
			"name": "associations",
			"description": "Associations"
		},
		{
			"name": "binfiles",
			"description": "Bin Files *(read-only)*"
		},
		{
			"name": "campaigns",
			"description": "Campaigns"
		},
		{
			"name": "categories",
			"description": "Categories"
		},
		{
			"name": "channels",
			"description": "Channels"
		},
		{
			"name": "comments",
			"description": "Comments"
		},
		{
			"name": "components",
			"description": "Components"
		},
		{
			"name": "contacts",
			"description": "Contacts"
		},
		{
			"name": "contacts2contacts",
			"description": "Contacts-to-contacts"
		},
		{
			"name": "contracts",
			"description": "Contracts"
		},
		{
			"name": "couponcodes",
			"description": "Coupon Codes"
		},
		{
			"name": "coupons",
			"description": "Coupons"
		},
		{
			"name": "customfields",
			"description": "Custom Fields *(read-only)*"
		},
		{
			"name": "davservers",
			"description": "DAV Servers"
		},
		{
			"name": "devices",
			"description": "Devices"
		},
		{
			"name": "documents",
			"description": "Documents"
		},
		{
			"name": "dunning",
			"description": "Dunning Notices"
		},
		{
			"name": "dunning2transactions",
			"description": "Dunning-to-transactions"
		},
		{
			"name": "entities2channels",
			"description": "Entities-to-channels"
		},
		{
			"name": "events",
			"description": "Events"
		},
		{
			"name": "feedservers",
			"description": "Feed Servers"
		},
		{
			"name": "files",
			"description": "Files"
		},
		{
			"name": "follows",
			"description": "Follows"
		},
		{
			"name": "forks",
			"description": "Forks *(restricted read-only)*"
		},
		{
			"name": "groups",
			"description": "Groups *(restricted read-only)*"
		},
		{
			"name": "groups2users",
			"description": "Groups-to-users *(admin read-only)*"
		},
		{
			"name": "invitations",
			"description": "Invitations"
		},
		{
			"name": "items",
			"description": "Items"
		},
		{
			"name": "ledgers",
			"description": "Ledgers"
		},
		{
			"name": "likes",
			"description": "Likes"
		},
		{
			"name": "links",
			"description": "Links"
		},
		{
			"name": "mailinglists",
			"description": "Mailing Lists"
		},
		{
			"name": "mailingrecipients",
			"description": "Mailing Recipients"
		},
		{
			"name": "mailservers",
			"description": "Mail Servers"
		},
		{
			"name": "messagereads",
			"description": "Message-reads"
		},
		{
			"name": "messages",
			"description": "Messages"
		},
		{
			"name": "notes",
			"description": "Notes"
		},
		{
			"name": "objects",
			"description": "Custom Objects"
		},
		{
			"name": "opportunities",
			"description": "Opportunities"
		},
		{
			"name": "participants",
			"description": "Participants"
		},
		{
			"name": "payments",
			"description": "Payments"
		},
		{
			"name": "permissions",
			"description": "Permissions *(admin read-only)*"
		},
		{
			"name": "pricelists",
			"description": "Price Lists"
		},
		{
			"name": "pricelists2accounts",
			"description": "Pricelists-to-accounts"
		},
		{
			"name": "prices",
			"description": "Prices"
		},
		{
			"name": "projects",
			"description": "Projects"
		},
		{
			"name": "records",
			"description": "Records"
		},
		{
			"name": "relateditems",
			"description": "Related Items"
		},
		{
			"name": "resources",
			"description": "Resources *(developer read-only)*"
		},
		{
			"name": "services",
			"description": "Services *(developer read-only)*"
		},
		{
			"name": "stocktransactions",
			"description": "Stock Transactions"
		},
		{
			"name": "storages",
			"description": "Storages"
		},
		{
			"name": "suppliers",
			"description": "Suppliers"
		},
		{
			"name": "tasks",
			"description": "Tasks"
		},
		{
			"name": "tickets",
			"description": "Tickets"
		},
		{
			"name": "transactions",
			"description": "Transactions"
		},
		{
			"name": "users",
			"description": "Users *(restricted read-only)*"
		},
		{
			"name": "weblets",
			"description": "Weblets *(developer read-only)*"
		}
	],
	"components": {
		"securitySchemes": {
			"oauth": {
				"type": "oauth2",
				"description": "OAuth 2.0 Authorization ([RFC 6749](https://tools.ietf.org/html/rfc6749)); use the **[ZeyOS OAuth 2.0 API](https://developers.zeyos.com/oauth2) `POST /oauth2/v1/token`** to obtain a valid bearer token",
				"flows": {
					"authorizationCode": {
						"authorizationUrl": "https://cloud.zeyos.com/{INSTANCE}/oauth2/v1/authorize",
						"tokenUrl": "https://cloud.zeyos.com/{INSTANCE}/oauth2/v1/token",
						"refreshUrl": "https://cloud.zeyos.com/{INSTANCE}/oauth2/v1/token",
						"scopes":  {}
					}
				}
			},
			"session": {
				"type": "apiKey",
				"name": "ZEYOSID",
				"in": "cookie",
				"description": "Session Cookie Authentication ([RFC 6265](https://tools.ietf.org/html/rfc6265))"
			}
		},
		"schemas": {
			"accounts": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Account ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"contact": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Contact ID",
						"example": 7
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"lastname": {
						"type": "string",
						"description": "Last name (surname or company name); is required if `firstname` is empty",
						"example": "Doe"
					},
					"firstname": {
						"type": "string",
						"description": "First name (given name); is required if `lastname` is empty",
						"example": "John"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5],
						"default": 0,
						"description": "Account type (`0`=PROSPECT, `1`=CUSTOMER, `2`=SUPPLIER, `3`=CUSTOMERANDSUPPLIER, `4`=COMPETITOR, `5`=EMPLOYEE)"
					},
					"customernum": {
						"type": "string",
						"description": "Customer number; only for PROSPECT, CUSTOMERANDSUPPLIER, CUSTOMER or EMPLOYEE",
						"example": "C-123456"
					},
					"suppliernum": {
						"type": "string",
						"description": "Supplier number; only for SUPPLIER or CUSTOMERANDSUPPLIER",
						"example": "S-123456"
					},
					"taxid": {
						"type": "string",
						"description": "Tax ID (e.g. VATIN or SSN)",
						"example": "DE123456789"
					},
					"currency": {
						"type": "string",
						"pattern": "^[A-Z]{3}$",
						"description": "Currency code ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217))",
						"example": "EUR"
					},
					"locked": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Deny booking of billing or procurement transactions"
					},
					"excludetax": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Exclude from taxation"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"actionsteps": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Action step ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"task": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Task ID; is mutually exclusive to `ticket` and `account`",
						"example": 7
					},
					"ticket": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Ticket ID; is mutually exclusive to `task` and `account`",
						"example": null
					},
					"account": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Account ID; is mutually exclusive to `task` and `ticket`",
						"example": null
					},
					"transaction": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Transaction ID",
						"example": null
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Action Step"
					},
					"actionnum": {
						"type": "string",
						"description": "Action number",
						"example": "A-123456"
					},
					"date": {
						"type": "integer",
						"format": "int64",
						"description": "Designated date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"duedate": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Due date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"status": {
						"type": "integer",
						"enum": [0, 1, 2, 3],
						"default": 0,
						"description": "Status (`0`=DRAFT, `1`=COMPLETED, `2`=CANCELLED, `3`=BOOKED)"
					},
					"effort": {
						"type": "number",
						"format": "int32",
						"minimum": 0,
						"default": 0,
						"description": "Effort in minutes"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"addresses": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Address ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"account": {
						"type": "integer",
						"format": "int32",
						"description": "Account ID (**dependency**)",
						"example": 7
					},
					"contact": {
						"type": "integer",
						"format": "int32",
						"description": "Contact ID",
						"example": 13
					},
					"type": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5, 6],
						"default": 0,
						"description": "Address type (`0`=BILLING_SHIPPING, `1`=BILLING_BILLING, `2`=PROCUREMENT_SHIPPING, `3`=PROCUREMENT_BILLING, `4`=COLLECTION, `5`=BILLING_SELLER, `6`=PROCUREMENT_SELLER)"
					},
					"default": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Default for this address type"
					}
				}
			},
			"applicationassets": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Asset ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"application": {
						"type": "integer",
						"format": "int32",
						"description": "Application ID (**dependency**)",
						"example": 7
					},
					"binfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"filename": {
						"type": "string",
						"minLength": 1,
						"description": "Filename",
						"example": "my_asset.txt"
					},
					"mimetype": {
						"type": "string",
						"pattern": "^[a-z]+/[^ \\t\\v\\r\\n]+$",
						"default": "application/octet-stream",
						"description": "[MIME type](https://en.wikipedia.org/wiki/Media_type) ([RFC 2045](https://tools.ietf.org/html/rfc2045))",
						"example": "text/plain"
					}
				}
			},
			"applications": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Application ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"readmebinfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Application"
					},
					"identifier": {
						"type": "string",
						"maxLength": 200,
						"pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_.-]*[a-zA-Z0-9])?$",
						"description": "Unique application identifier",
						"example": "my_application"
					},
					"vendor": {
						"type": "string",
						"description": "Vendor (developer or company name)",
						"example": "ZeyOS"
					},
					"restricted": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Restricted access via permission with same identifier"
					},
					"callbackurls": {
						"oneOf": [
							{
								"type": "string",
								"format": "json",
								"nullable": true,
								"default": null,
								"description": "[Array](https://www.postgresql.org/docs/current/arrays.html)-encoded allowed callback URLs for APIs",
								"example": "{...}"
							},
							{
								"type": "array",
								"description": "Callback URLs",
								"items": {
									"type": "string"
								}
							}
						]
					}
				}
			},
			"appointments": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Appointment ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"davserver": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "DAV server ID",
						"example": 7
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Appointment"
					},
					"location": {
						"type": "string",
						"description": "Location",
						"example": "Office"
					},
					"color": {
						"type": "string",
						"pattern": "^([A-F0-9]{3}){0,2}$",
						"description": "Color code (CSS-style hexadecimal without `#`)"
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"description": "Start date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": 872838840
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"description": "End date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": 872842440
					},
					"recurrence": {
						"type": "integer",
						"enum": [null, 0, 1, 2, 3, 4],
						"nullable": true,
						"default": null,
						"description": "Recurrence (`0`=DAY, `1`=WORKDAY, `2`=WEEK, `3`=MONTH, `4`=YEAR)",
						"example": null
					},
					"interval": {
						"type": "integer",
						"minimum": 1,
						"maximum": 32767,
						"default": 1,
						"description": "Recurrence interval in minutes"
					},
					"maxoccurrences": {
						"type": "integer",
						"format": "int32",
						"minimum": 0,
						"default": 0,
						"description": "Maximum number of occurrences including the start date (`0`=unlimited)"
					},
					"daterecurrence": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Recurrence end date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"associations": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Association ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"entity1": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"description": "First canonical entity",
						"example": "notes"
					},
					"entity2": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"description": "Second canonical entity",
						"example": "tasks"
					},
					"index1": {
						"type": "integer",
						"format": "int32",
						"description": "First entity ID",
						"example": 7
					},
					"index2": {
						"type": "integer",
						"format": "int32",
						"description": "Second entity ID",
						"example": 13
					},
					"relation": {
						"type": "string",
						"description": "Relation"
					},
					"meta": {
						"$ref": "#/components/schemas/meta-field"
					}
				}
			},
			"binfiles": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Bin file ID",
						"example": 1
					},
					"size": {
						"type": "integer",
						"format": "int32",
						"minimum": 1,
						"description": "Size in bytes",
						"example": 12
					},
					"hash": {
						"type": "string",
						"pattern": "^\\\\x[a-f0-9]{32}$",
						"description": "[MD5](https://tools.ietf.org/html/rfc1321) hash of the content in hexadecimal notation prefixed with '\\x'",
						"example": "\\xed076287532e86365e841e92bfc50d8c"
					}
				}
			},
			"campaigns": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Campaign ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Campaign"
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Start date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": null
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "End date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": null
					},
					"status": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						"default": 0,
						"description": "Status (`0`=DRAFT, `1`=NOTSTARTED, `2`=AWAITINGAPPROVAL, `3`=APPROVED, `4`=DISMISSED, `5`=ACTIVE, `6`=INACTIVE, `7`=INEVALUATION, `8`=CANCELLED, `9`=CLOSED)"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"categories": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Category ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"entity": {
						"type": "string",
						"minLength": 1,
						"description": "Canonical entity",
						"example": "notes"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Category/My Subcategory"
					}
				}
			},
			"channels": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Channel ID",
						"example": 1
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Channel"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"comments": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Comment ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"record": {
						"type": "integer",
						"format": "int64",
						"description": "Record ID (**dependency**)",
						"example": 7
					},
					"date": {
						"type": "integer",
						"format": "int64",
						"description": "Designated date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"sender": {
						"type": "string",
						"description": "Sender",
						"example": "John Doe"
					},
					"text": {
						"type": "string",
						"description": "Comment text ([Markdown](https://en.wikipedia.org/wiki/Markdown) for rich text representation)",
						"example": "This is my comment!"
					},
					"meta": {
						"$ref": "#/components/schemas/meta-field"
					}
				}
			},
			"components": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Component ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"item": {
						"type": "integer",
						"format": "int32",
						"description": "Item ID (**dependency**)",
						"example": 7
					},
					"component": {
						"type": "integer",
						"format": "int32",
						"description": "Component item ID; must be distinct from `item`",
						"example": 13
					},
					"amount": {
						"type": "number",
						"format": "double",
						"default": 1,
						"description": "Amount (quantity)"
					},
					"price": {
						"type": "number",
						"format": "double",
						"nullable": true,
						"default": null,
						"description": "Imputed price per unit",
						"example": null
					},
					"fixed": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Fixed quantity"
					}
				}
			},
			"contacts": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Contact ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"davserver": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "DAV server ID",
						"example": 7
					},
					"picbinfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"lastname": {
						"type": "string",
						"description": "Last name (surname or company name); is required if `firstname` is empty",
						"example": "Doe"
					},
					"firstname": {
						"type": "string",
						"description": "First name (given name); is required if `lastname` is empty",
						"example": "John"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Contact type (`0`=COMPANY, `1`=PERSON)"
					},
					"title": {
						"type": "string",
						"description": "Title or salutation; only for PERSON",
						"example": "Dr."
					},
					"company": {
						"type": "string",
						"description": "Company name; only for PERSON",
						"example": "Any Company, Inc."
					},
					"position": {
						"type": "string",
						"description": "Position or job title; only for PERSON",
						"example": "CTO"
					},
					"department": {
						"type": "string",
						"description": "Department; only for PERSON",
						"example": "Research & Development"
					},
					"address": {
						"type": "string",
						"description": "Address (street and building/suite number)",
						"example": "123 Main St."
					},
					"postalcode": {
						"type": "string",
						"description": "Postal or ZIP code",
						"example": "95060"
					},
					"city": {
						"type": "string",
						"description": "City or locality",
						"example": "Anytown"
					},
					"region": {
						"type": "string",
						"description": "Region or state",
						"example": "CA"
					},
					"country": {
						"type": "string",
						"pattern": "^([A-Z]{2})?$",
						"description": "Country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
						"example": "US"
					},
					"phone": {
						"type": "string",
						"description": "Primary phone number",
						"example": "+1 123-456-7890"
					},
					"phone2": {
						"type": "string",
						"description": "Secondary phone number",
						"example": "+1 123-456-7891"
					},
					"cell": {
						"type": "string",
						"description": "Cell phone number",
						"example": "+1 123-456-7892"
					},
					"fax": {
						"type": "string",
						"description": "Fax number",
						"example": "+1 123-456-7893"
					},
					"email": {
						"type": "string",
						"format": "email",
						"description": "Primary e-mail address",
						"example": "john.doe@company.com"
					},
					"email2": {
						"type": "string",
						"format": "email",
						"description": "Secondary e-mail address",
						"example": "johnny_d@personal.com"
					},
					"website": {
						"type": "string",
						"format": "uri",
						"description": "Website URL",
						"example": "http://www.company.com/about/john_doe"
					},
					"birthdate": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"description": "Birth date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); only for PERSON",
						"example": null
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"contacts2contacts": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Contact-to-contact ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"contact1": {
						"type": "integer",
						"format": "int32",
						"description": "First contact ID (**dependency**)",
						"example": 7
					},
					"contact2": {
						"type": "integer",
						"format": "int32",
						"description": "Second contact ID (**dependency**)",
						"example": 13
					}
				}
			},
			"contracts": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Contract ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"account": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Account ID",
						"example": 7
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Contract"
					},
					"contractnum": {
						"type": "string",
						"description": "Contract number",
						"example": "N-123456"
					},
					"date": {
						"type": "integer",
						"format": "int64",
						"description": "Designated date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Start date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": null
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "End date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": null
					},
					"datecancel": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Cancellation date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"status": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5, 6, 7, 8],
						"default": 0,
						"description": "Status (`0`=DRAFT, `1`=AWAITINGAPPROVAL, `2`=APPROVED, `3`=DISMISSED, `4`=ACTIVE, `5`=INACTIVE, `6`=EXPIRED, `7`=CANCELLED, `8`=CLOSED)"
					},
					"calculation": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Calculation method (`0`=NET, `1`=GROSS, `2`=EXACT, `3`=LEGACY, `4`=EXTERNAL)"
					},
					"currency": {
						"type": "string",
						"pattern": "^[A-Z]{3}$",
						"description": "Currency code ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217))",
						"example": "EUR"
					},
					"exchangerate": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"exclusiveMinimum": true,
						"default": 1,
						"description": "Exchange rate as a multiple of one monetary unit of the fixed system currency"
					},
					"billingcycle": {
						"type": "integer",
						"nullable": true,
						"minimum": 1,
						"maximum": 32767,
						"default": null,
						"description": "Billing cycle in months",
						"example": null
					},
					"lastbilling": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Last billing date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					},
					"contractitems": {
						"$ref": "#/components/schemas/items-field"
					},
					"billingitems": {
						"$ref": "#/components/schemas/items-field"
					},
					"procurementitems": {
						"$ref": "#/components/schemas/items-field"
					},
					"autobilling": {
						"oneOf": [
							{
								"type": "string",
								"format": "json",
								"nullable": true,
								"default": null,
								"description": "[JSON](https://tools.ietf.org/html/rfc7159)-encoded auto-billing data (object); only if `billingcycle` is not `null`",
								"example": "{...}"
							},
							{
								"type": "object",
								"description": "Auto-billing data",
								"properties": {
									"type": {
										"type": "integer",
										"enum": [0, 1, 2, 3, 4],
										"default": 0,
										"description": "Transaction type (`0`=BILLING_QUOTE, `1`=BILLING_ORDER, `2`=BILLING_DELIVERY, `3`=BILLING_INVOICE, `4`=BILLING_CREDIT)",
										"example": 3
									},
									"book": {
										"type": "boolean",
										"description": "Try to book immediately"
									},
									"assigneduser": {
										"type": "integer",
										"format": "int32",
										"nullable": true,
										"default": null,
										"description": "Assigned user ID (defaults to `assigneduser` of contract)",
										"example": 6
									},
									"tag": {
										"type": "string",
										"description": "Tag"
									}
								}
							}
						]
					}
				}
			},
			"couponcodes": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Coupon code ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"coupon": {
						"type": "integer",
						"format": "int32",
						"description": "Coupon ID (**dependency**)",
						"example": 7
					},
					"transaction": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Transaction ID",
						"example": null
					},
					"flag": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Flag (`0`=BOOKED, `1`=RESERVED, `2`=CANCELLED)"
					},
					"date": {
						"type": "integer",
						"format": "int64",
						"description": "Designated date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"code": {
						"type": "string",
						"minLength": 1,
						"description": "Coupon code",
						"example": "XMAX17"
					},
					"value": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Value"
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Start date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": null
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "End date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": null
					}
				}
			},
			"coupons": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Coupon ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Coupon"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Coupon type (`0`=PROMOTION, `1`=INDIVIDUAL)"
					},
					"code": {
						"type": "string",
						"description": "Promotion code; only for PROMOTION",
						"example": "XMAX17"
					},
					"value": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Default value"
					},
					"taxrate": {
						"type": "number",
						"format": "double",
						"nullable": true,
						"minimum": 0,
						"maximum": 100,
						"default": null,
						"description": "Tax rate in percent"
					},
					"neutral": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Neutral in transaction"
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Start date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": null
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "End date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": null
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					},
					"foreigntaxrates": {
						"type": "object",
						"nullable": true,
						"default": null,
						"description": "Country-specific tax rates in percent; use country code as object key",
						"example": {
							"DE": 19,
							"AT": 21
						}
					}
				}
			},
			"customfields": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Custom field ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Custom Field"
					},
					"identifier": {
						"type": "string",
						"maxLength": 200,
						"pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_.-]*[a-zA-Z0-9])?$",
						"description": "Unique field identifier",
						"example": "my_custom_field"
					},
					"context": {
						"type": "string",
						"minLength": 1,
						"description": "Context (mainly entity)",
						"example": "notes"
					},
					"source": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Data source (`0`=EXTDATA, `1`=TAGS, `2`=INTERNAL)"
					},
					"reference": {
						"type": "string",
						"minLength": 1,
						"description": "Data reference (extdata field name or tag name)",
						"example": "my_extdata_field"
					},
					"indexed": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Indexed"
					},
					"type": {
						"type": "string",
						"enum": ["", "checked", "count", "country", "currency", "date", "datepretty", "datetime", "datetimepretty", "duration", "email", "entity", "filetype", "isset", "list", "money", "num", "password", "percent", "price", "pricebilling", "priceprocurement", "priceproduction", "priority", "progress", "rate", "size", "tel", "text", "timing", "unit", "url", "weight"],
						"description": "Data type"
					},
					"entity": {
						"type": "string",
						"enum": [null, "accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"nullable": true,
						"default": null,
						"description": "Canonical entity; only for `type`=`entity`",
						"example": null
					},
					"options": {
						"oneOf": [
							{
								"type": "string",
								"format": "json",
								"nullable": true,
								"default": null,
								"description": "[JSON](https://tools.ietf.org/html/rfc7159)-encoded option values and labels (array or object); only relevant for `type`=`list`",
								"example": "{...}"
							},
							{
								"type": "array",
								"description": "Options labels (implicit value via array index)"
							},
							{
								"type": "object",
								"description": "Option value and label pairs",
								"example": {
									"value1": "Label 1",
									"value2": "Label 2"
								}
							}
						]
					},
					"langaliases": {
						"oneOf": [
							{
								"type": "string",
								"format": "json",
								"nullable": true,
								"default": null,
								"description": "[JSON](https://tools.ietf.org/html/rfc7159)-encoded language-specific aliases (object); use language code as object key",
								"example": "{\"en_US\": \"My new Field\", \"de_DE\": \"Mein neues Feld\"}"
							},
							{
								"type": "object",
								"nullable": true,
								"default": null,
								"description": "Language-specific aliases",
								"example": {
									"en_US": "My new Field",
									"de_DE": "Mein neues Feld"
								}
							}
						]
					}
				}
			},
			"davservers": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "DAV server ID",
						"example": 1
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"recipientuser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Recipient user ID (PUBLIC if `recipientuser`=`null` and `recipientgroup`=`null`)",
						"example": null
					},
					"recipientgroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Recipient group ID (PUBLIC if `recipientuser`=`null` and `recipientgroup`=`null`)",
						"example": null
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My DAV Server"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Collection type (`0`=CONTACTS, `2`=APPOINTMENTS, `1`=TASKS)"
					},
					"url": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"description": "Endpoint URL",
						"example": "https://dav.company.com/collection"
					},
					"username": {
						"type": "string",
						"description": "Username",
						"example": "john.doe"
					},
					"ctag": {
						"type": "string",
						"description": "Collection entity tag (CTag) ([caldav-ctag-03](https://github.com/apple/ccs-calendarserver/doc/Extensions/caldav-ctag.txt))",
						"example": "\"73c5fdd17f180f2126995666b7edc0e3\""
					},
					"synctoken": {
						"type": "string",
						"description": "Synchronization token ([RFC 6578](https://tools.ietf.org/html/rfc6578#section-4))",
						"example": "http://dav.company.com/sync/1234"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"devices": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Device ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"item": {
						"type": "integer",
						"format": "int32",
						"description": "Item ID",
						"example": 7
					},
					"contract": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Contract ID",
						"example": null
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"serialnum": {
						"type": "string",
						"description": "Serial number; is required if `chargenum` is empty, otherwise must be empty",
						"example": "S-123456"
					},
					"chargenum": {
						"type": "string",
						"description": "Charge (lot) number; is required if `serialnum` is empty, otherwise must be empty",
						"example": "LOT-123456"
					},
					"expdate": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Expiry date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"documents": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Document ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"binfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "my_document"
					},
					"documentnum": {
						"type": "string",
						"description": "Document number",
						"example": "F-123456"
					},
					"status": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5, 6],
						"default": 0,
						"description": "Status (`0`=DRAFT, `1`=FEEDBACKREQUIRED, `2`=INREVISION, `3`=AWAITINGAPPROVAL, `4`=FINAL, `5`=OBSOLETE)"
					},
					"filename": {
						"type": "string",
						"description": "Filename",
						"example": "my_document.pdf"
					},
					"mimetype": {
						"type": "string",
						"pattern": "^[a-z]+/[^ \\t\\v\\r\\n]+$",
						"default": "application/octet-stream",
						"description": "[MIME type](https://en.wikipedia.org/wiki/Media_type) ([RFC 2045](https://tools.ietf.org/html/rfc2045))",
						"example": "application/pdf"
					},
					"public": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Publicly accessible"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"dunning": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Dunning notice ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"assigneduser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Assigned user ID",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"account": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Account ID",
						"example": 7
					},
					"dunningnum": {
						"type": "string",
						"minLength": 1,
						"description": "Dunning number",
						"example": "D-0117.12345"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Dunning type (`0`=LISTING, `1`=REMINDER, `2`=NOTICE)",
						"example": 1
					},
					"date": {
						"type": "integer",
						"format": "int64",
						"description": "Designated date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"duedate": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Due date as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time)",
						"example": null
					},
					"status": {
						"type": "integer",
						"enum": [0, 1, 2, 3],
						"default": 0,
						"description": "Status (`0`=DRAFT, `1`=BOOKED, `2`=CANCELLED, `3`=CLOSED)"
					},
					"fee": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Dunning fee"
					},
					"recipient": {
						"type": "string",
						"description": "Recipient",
						"example": "Bad Customer, Inc."
					},
					"address": {
						"type": "string",
						"description": "Address (street and building/suite number)",
						"example": "123 Main St."
					},
					"postalcode": {
						"type": "string",
						"description": "Postal or ZIP code",
						"example": "95060"
					},
					"city": {
						"type": "string",
						"description": "City or locality",
						"example": "Anytown"
					},
					"region": {
						"type": "string",
						"description": "Region or state",
						"example": "CA"
					},
					"country": {
						"type": "string",
						"pattern": "^([A-Z]{2})?$",
						"description": "Country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
						"example": "US"
					}
				}
			},
			"dunning2transactions": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Dunning-to-transaction ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"dunning": {
						"type": "integer",
						"format": "int32",
						"description": "Dunning notice ID (**dependency**)",
						"example": 7
					},
					"transaction": {
						"type": "integer",
						"format": "int32",
						"description": "Transaction ID (**dependency**)",
						"example": 13
					}
				}
			},
			"entities2channels": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Entity-to-channel ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"entity": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"description": "Canonical entity",
						"example": "notes"
					},
					"index": {
						"type": "integer",
						"format": "int32",
						"description": "Entity ID",
						"example": 7
					},
					"channel": {
						"type": "integer",
						"format": "int32",
						"description": "Channel ID (**dependency**)",
						"example": 1
					}
				}
			},
			"events": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Event ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module); inherited from entity",
						"example": null
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"entity": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"description": "Canonical entity",
						"example": "notes"
					},
					"index": {
						"type": "integer",
						"format": "int32",
						"description": "Entity ID",
						"example": 7
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Event"
					},
					"color": {
						"type": "string",
						"pattern": "^([A-F0-9]{3}){0,2}$",
						"description": "Color code (CSS-style hexadecimal without `#`)"
					},
					"datefrom": {
						"type": "integer",
						"format": "int64",
						"description": "Start date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be less than or equal to `dateto`",
						"example": 872838840
					},
					"dateto": {
						"type": "integer",
						"format": "int64",
						"description": "End date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time); must be greater than or equal to `datefrom`",
						"example": 872842440
					},
					"meta": {
						"$ref": "#/components/schemas/meta-field"
					}
				}
			},
			"feedservers": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Feed server ID",
						"example": 1
					},
					"owneruser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner user ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (PUBLIC if `owneruser`=`null` and `ownergroup`=`null`)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"recipientuser": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Recipient user ID (PUBLIC if `recipientuser`=`null` and `recipientgroup`=`null`)",
						"example": null
					},
					"recipientgroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Recipient group ID (PUBLIC if `recipientuser`=`null` and `recipientgroup`=`null`)",
						"example": null
					},
					"channel": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Channel ID",
						"example": null
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Feed Server"
					},
					"url": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"description": "Feed URL",
						"example": "http://www.website.com/feed.rss"
					},
					"username": {
						"type": "string",
						"description": "Username",
						"example": "john.doe"
					},
					"notify": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Notify about new records"
					},
					"etag": {
						"type": "string",
						"description": "Entity tag (ETag) ([RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3))",
						"example": "\"73c5fdd17f180f2126995666b7edc0e3\""
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"files": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "File ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"record": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Record ID (**dependency**); is mutually exclusive to `comment` (either one is required)",
						"example": 7
					},
					"comment": {
						"type": "integer",
						"format": "int64",
						"nullable": true,
						"default": null,
						"description": "Comment ID (**dependency**); is mutually exclusive to `record` (either one is required)",
						"example": null
					},
					"binfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"filename": {
						"type": "string",
						"description": "Filename",
						"example": "my_file.txt"
					},
					"mimetype": {
						"type": "string",
						"pattern": "^[a-z]+/[^ \\t\\v\\r\\n]+$",
						"default": "application/octet-stream",
						"description": "[MIME type](https://en.wikipedia.org/wiki/Media_type) ([RFC 2045](https://tools.ietf.org/html/rfc2045))",
						"example": "text/plain"
					}
				}
			},
			"follows": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Follow ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"entity": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "applications", "appointments", "campaigns", "contacts", "contracts", "coupons", "davservers", "devices", "documents", "dunning", "feedservers", "forks", "groups", "items", "ledgers", "links", "mailinglists", "mailservers", "messages", "notes", "objects", "opportunities", "payments", "pricelists", "projects", "records", "resources", "services", "storages", "tasks", "tickets", "transactions", "users", "weblets"],
						"description": "Canonical entity",
						"example": "notes"
					},
					"index": {
						"type": "integer",
						"format": "int64",
						"description": "Entity ID",
						"example": 7
					}
				}
			},
			"forks": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Fork ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"group": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Group ID",
						"example": 7
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "My Module"
					},
					"identifier": {
						"type": "string",
						"maxLength": 200,
						"pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_.-]*[a-zA-Z0-9])?$",
						"description": "Unique fork identifier",
						"example": "my_billing_fork"
					},
					"module": {
						"type": "string",
						"enum": ["accounts", "actionsteps", "billing", "calendar", "campaigns", "collection", "contacts", "contracts", "coupons", "devices", "documents", "inventory", "links", "mailinglists", "messages", "notes", "opportunities", "payments", "pricelists", "procurement", "production", "projects", "tasks", "tickets"],
						"description": "Canonical module identifier",
						"example": "billing"
					},
					"color": {
						"type": "string",
						"pattern": "^([A-F0-9]{3}){0,2}$",
						"description": "Color code (CSS-style hexadecimal without `#`)"
					},
					"langaliases": {
						"oneOf": [
							{
								"type": "string",
								"format": "json",
								"nullable": true,
								"default": null,
								"description": "[JSON](https://tools.ietf.org/html/rfc7159)-encoded language-specific aliases (object); use language code as object key",
								"example": "{\"en_US\": \"My new Module\", \"de_DE\": \"Mein neues Modul\"}"
							},
							{
								"type": "object",
								"nullable": true,
								"default": null,
								"description": "Language-specific aliases",
								"example": {
									"en_US": "My new Module",
									"de_DE": "Mein neues Modul"
								}
							}
						]
					}
				}
			},
			"groups": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Group ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"leader": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Leader user ID",
						"example": null
					},
					"activity": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Activity (`0`=ACTIVE, `1`=DEACTIVATED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name (case-insensitively unique)",
						"example": "Operations"
					}
				}
			},
			"groups2users": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Group-to-user ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"group": {
						"type": "integer",
						"format": "int32",
						"description": "Group ID (**dependency**)",
						"example": 7
					},
					"user": {
						"type": "integer",
						"format": "int32",
						"description": "User ID (**dependency**)",
						"example": 13
					},
					"writable": {
						"type": "integer",
						"enum": [0, 1],
						"default": 0,
						"description": "Allow writing of group-owned data by user"
					}
				}
			},
			"invitations": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Invitation ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"appointment": {
						"type": "integer",
						"format": "int32",
						"description": "Appointment ID (**dependency**)",
						"example": 7
					},
					"contact": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Contact ID",
						"example": null
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "John Doe"
					},
					"email": {
						"type": "string",
						"format": "email",
						"description": "E-mail address",
						"example": "john.doe@company.com"
					},
					"flag": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Flag (`0`=UNANSWERED, `1`=CONFIRMED, `2`=REJECTED)"
					}
				}
			},
			"items": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Item ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"model": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Model item ID; only for non-MODEL",
						"example": null
					},
					"picbinfile": {
						"$ref": "#/components/schemas/binfile-field"
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Product name",
						"example": "My Product"
					},
					"manufacturer": {
						"type": "string",
						"description": "Manufacturer (brand or company name)",
						"example": "My Company, Inc."
					},
					"itemnum": {
						"type": "string",
						"description": "Item number (SKU)",
						"example": "I-123456"
					},
					"barcode": {
						"type": "string",
						"description": "Barcode (e.g. GTIN, EAN or UPC code)",
						"example": "501234567890"
					},
					"type": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4, 5, 6, 7],
						"default": 0,
						"description": "Item type (`0`=SIMPLE, `1`=SERIALS, `2`=CHARGES, `3`=SERIALSANDCHARGES, `4`=SET, `5`=CONTAINER, `6`=NOSTOCK, `7`=MODEL)"
					},
					"forcestock": {
						"type": "integer",
						"enum": [null, 0, 1],
						"nullable": true,
						"default": null,
						"description": "Force stock check on depletion (`0`=STORAGE, `1`=LOCATION)"
					},
					"applicability": {
						"type": "integer",
						"enum": [0, 1, 2, 3],
						"default": 0,
						"description": "Applicability (`0`=ALWAYS, `1`=NEVER, `2`=BILLINGONLY, `3`=PROCUREMENTONLY)"
					},
					"unit": {
						"type": "string",
						"maxLength": 3,
						"description": "Unit code as defined by ([UN/CEFACT Recommendation 20](https://unece.org/trade/uncefact/cl-recommendations))",
						"example": "C62"
					},
					"sellingprice": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Default selling price per unit"
					},
					"purchaseprice": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Default purchase price per unit"
					},
					"taxrate": {
						"type": "number",
						"format": "double",
						"nullable": true,
						"minimum": 0,
						"maximum": 100,
						"default": null,
						"description": "Tax rate in percent"
					},
					"weight": {
						"type": "number",
						"format": "double",
						"minimum": 0,
						"default": 0,
						"description": "Shipping weight per unit in kilogram"
					},
					"classcode": {
						"type": "string",
						"description": "Product classification code (e.g. GPC, CPV or UNSPSC code)",
						"example": "65010400"
					},
					"tariffcode": {
						"type": "string",
						"description": "Tariff code (e.g. HS, CN or HTS code)",
						"example": "84729080"
					},
					"origin": {
						"type": "string",
						"pattern": "^([A-Z]{2})?$",
						"description": "Origin country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
						"example": "US"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					},
					"foreigntaxrates": {
						"type": "object",
						"nullable": true,
						"default": null,
						"description": "Country-specific tax rates in percent; use country code as object key",
						"example": {
							"DE": 19,
							"AT": 21
						}
					}
				}
			},
			"ledgers": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Ledger ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
					"ownergroup": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Owner group ID (`null`=PUBLIC)",
						"example": null
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"visibility": {
						"type": "integer",
						"enum": [0, 1, 2],
						"default": 0,
						"description": "Visibility (`0`=REGULAR, `1`=ARCHIVED, `2`=DELETED)"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"description": "Name",
						"example": "Credit Suisse #12345"
					},
					"description": {
						"type": "string",
						"description": "Detailed general description"
					}
				}
			},
			"likes": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int64",
						"description": "Like ID",
						"example": 1
					},
					"creator": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"description": "Creator user ID (defaults to authenticated user on creation)",
						"example": 6
					},
					"creationdate": {
						"type": "integer",
						"format": "int64",
						"description": "Creation date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (defaults to current date and time on creation)",
						"example": 872838840
					},
					"lastmodified": {
						"type": "integer",
						"format": "int64",
						"description": "Last modification date and time as a [Unix timestamp](https://en.wikipedia.org/wiki/Unix_time) (auto-reset on modification)",
						"example": 872838840
					},
					"record": {
						"type": "integer",
						"format": "int64",
						"description": "Record ID (**dependency**)",
						"example": 7
					}
				}
			},
			"links": {
				"type": "object",
				"properties": {
					"ID": {
						"type": "integer",
						"format": "int32",
						"description": "Link ID",
						"example": 1
					},
					"fork": {
						"type": "integer",
						"format": "int32",
						"nullable": true,
						"default": null,
						"description": "Fork ID (`null` for base module)",
						"example": null
					},
[...]
